<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>M.Tech in Computer Science graduate from IIT Tirupati 2020 batch. Currently working as Junior Research Fellow at the same. I'm looking for opportunities in Software Development.</p>
    <p>I have Back-end development experience in Node JS, Flask and Spring Boot, with experience in research and development of domain agnostic, infinitely scalable workflow systems.</p>
    <p>I am also a competitive coder with strong knowledge on Data Structures and Algorithms.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>